@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --NORMAL-FS: clamp(0.8rem, 1vw, 1rem);
    --SIDEBAR-WIDTH: clamp(20rem, 25vw, 30rem);
    --SPOILER-IMAGE-width: min(50%, 570px);
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #55356e;
    background-image: url(./img/nyangif.gif);
    background-size: 10% auto;
    background-repeat: repeat-y;
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #55356e;
    width: 100%;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 3rem;
    font-size: var(--NORMAL-FS);
    gap: 1.5rem;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

img {
    display: block;
}

.navbar img {
    width: 92px;
    height: auto;
}

main {
    flex-grow: 1;
}

/*article page styles*/

.main-layout {
    display: flex;
    flex-direction: row;
    max-width: 70vw;
    min-width: 300px;
    margin: 5.5rem auto 1rem auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    font-size: var(--NORMAL-FS);
}

.sidebar {
    background-color: #434343;

    padding: 2rem 1.5rem 1rem 1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: var(--SIDEBAR-WIDTH);
}

.sidebar ul {
    white-space: nowrap;
    list-style: none;
}

.sidebar li {
    padding-bottom: 1rem;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.sidebar a:visited {
    color: #fff;
}

.sidebar a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

.content-container {
    background-color: #e9e2f3;
    padding: 2rem 1rem 2rem 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-container p {
    font-size: var(--NORMAL-FS);
}

.title {
    margin-bottom: 1rem;
}

article {
    line-height: 1.5;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

table,
th,
td,
caption {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: left;
}

.table {
    margin: 1rem 0;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

.spoiler {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    user-select: none;
}

details img {
    width: var(--SPOILER-IMAGE-width);
    height: auto;
}
footer {
    text-align: center;
    background-color: #55356e;
    color: #ffffff;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

/* About Page Styles */

.about-page-container {
    width: 70dvw;
    margin: 5.5rem auto 1rem auto;
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem 2rem 3rem;
    background-color: #e9e2f3;
    line-height: 1.5;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.about-page h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    border: 5px double black;
    width: 15%;
    min-width: 150px;
    height: auto;
    margin-bottom: 2rem;
}
/* contact form styles */
.contact-page-container {
    width: 50dvw;
    margin: 5.5rem auto 1rem auto;
}

.contact-page {
    display: flex;
    flex-direction: column;
    background-color: #e9e2f3;
    padding: 3rem 3rem 2rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.contact-page h1 {
    margin-bottom: 1rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

input,
textarea,
select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
    display: flex;
}

input[type="text"],
input[type="email"] {
    min-width: 100%;
}

fieldset {
    border-radius: 5px;
    padding: 1rem;
    max-block-size: fit-content;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 5rem;
    line-break: auto;
    overflow: auto;
    overflow-wrap: break-word;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

button[type="reset"] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: hsl(108, 25%, 69%);
    transition: 0.3s;
    cursor: pointer;
}

button[type="reset"]:hover {
    background-color: hsl(0, 25%, 64%);
    transition: 0.3s;
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 767px) {
    .main-layout {
        margin: 5.5rem auto 1rem auto;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
        font-size: var(--NORMAL-FS);
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .main-layout {
        flex-direction: column;

        align-items: center;
        max-width: 90dvw;
    }

    .navbar ul {
        margin-left: 1rem;
    }

    .sidebar {
        width: 90dvw;
        padding: 2rem 0.5rem 0.5rem 0.5rem;
        min-width: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content-container {
        padding: 2rem 0.5rem 0.5rem 0.5rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .html-logo img {
        width: 30%;
        height: auto;
    }

    .html-structure img {
        width: 100%;
    }

    details img {
        width: 15rem;
    }
    /* about page */

    .about-page-container {
        width: 90dvw;
    }

    .about-page {
        padding: 2rem 1rem 1rem 1rem;
    }

    .about-page h1 {
        font-size: 1.5rem;
    }

    .profile-picture {
        min-width: 100px;
    }

    /* contact page */

    .contact-page-container {
        width: 90dvw;
    }

    .contact-page {
        padding: 2rem 1rem 1rem 1rem;
    }

    .contact-page h1 {
        font-size: 1.7rem;
    }

    .contact-page h2 {
        font-size: 1.2rem;
    }

    form {
        gap: 0.7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
}  */
