@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONT SIZE */
    --NORMAL-FS: clamp(0.8rem, 1vw, 1rem);
    --LINE-HEIGHT: 1.5rem;

    /* PAGE DIMENSION */
    --SIDEBAR-WIDTH: clamp(20rem, 25vw, 30rem);
    --SIDEBAR-PADDING: 2rem 1.5rem 1rem 1.5rem;
    --SPOILER-IMAGE-width: min(50%, 570px);
    --PAGE-PADDING: 2rem 1.5rem 1rem 1.5rem;
    --BORDER-RIGHT: 0 10px 10px 0;
    --BORDER-LEFT: 10px 0 0 10px;
    --BORDER-TOP: 10px 10px 0 0;
    --BORDER-BOTTOM: 0 0 10px 10px;

    /* COLORS */
    --BACKGROUND-COLOR: #55356e;
    --PAGE-COLOR: #e9e2f3;
    --SIDEBAR-BACKGROUND-COLOR: #434343; 
    --NAV-FOOTER-TEXT-COLOR: whitesmoke;
    --NAV-FOOTER-TEXT-COLOR-HOVER: #a5abbd;
    --SHADOW-BOX: 2px 2px 5px rgba(0, 0, 0, 0.5);

    /* ANIMATION */
    --TRANSITION-TIME: 0.3s;

    /* mobile */
    --MOBILE-PAGE-PADDING: 2rem 0.5rem 0.5rem 0.5rem;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;    
    background-color: var(--BACKGROUND-COLOR);
    background-image: url(./img/nyangif.gif);
    background-size: 10% auto;
    background-repeat: repeat-y;
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: var(--BACKGROUND-COLOR);
    width: 100%;
    padding: 1rem;
    box-shadow: var(--SHADOW-BOX);
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 3rem;
    font-size: var(--NORMAL-FS);
    gap: 1.5rem;
}

.navbar a {
    color: var(--NAV-FOOTER-TEXT-COLOR);
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover {
    color: var(--NAV-FOOTER-TEXT-COLOR-HOVER);
    transition: var(--TRANSITION-TIME);
}

img {
    display: block;
}

.navbar img {
    width: 92px;
    height: auto;
}

main {
    flex-grow: 1;
}

/*article page styles*/

.main-layout {
    display: flex;
    flex-direction: row;
    max-width: 70vw;
    min-width: 300px;
    margin: 5.5rem auto 1rem auto;
    border-radius: 10px;
    box-shadow: var(--SHADOW-BOX);
    font-size: var(--NORMAL-FS);
}

.sidebar {
    background-color: var(--SIDEBAR-BACKGROUND-COLOR);
    padding: var(--SIDEBAR-PADDING);
    border-radius: var(--BORDER-LEFT);
    width: var(--SIDEBAR-WIDTH);
}

.sidebar ul {
    white-space: nowrap;
    list-style: none;
}

.sidebar li {
    padding-bottom: 1rem;
}

.sidebar a {
    color: var(--NAV-FOOTER-TEXT-COLOR);
    text-decoration: none;
    font-weight: 600;
}

.sidebar a:visited {
    color: var(--NAV-FOOTER-TEXT-COLOR);
}

.sidebar a:hover {
    color: var(--NAV-FOOTER-TEXT-COLOR-HOVER);
    transition: var(--TRANSITION-TIME);
}

.content-container {
    background-color: var(--PAGE-COLOR);
    padding: var(--PAGE-PADDING);
    border-radius: var(--BORDER-RIGHT);
}

.content-container p {
    font-size: var(--NORMAL-FS);
}

.title {
    margin-bottom: 1rem;
}

article {
    line-height: var(--LINE-HEIGHT);
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

table,
th,
td,
caption {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: left;
}

.table {
    margin: 1rem 0;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

.spoiler {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    user-select: none;
}

details img {
    width: var(--SPOILER-IMAGE-width);
    height: auto;
}
footer {
    text-align: center;
    background-color: var(--BACKGROUND-COLOR);
    color: var(--NAV-FOOTER-TEXT-COLOR);
    padding: 0.5rem;
    box-shadow: var(--SHADOW-BOX);
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: var(--NAV-FOOTER-TEXT-COLOR);
}

footer a:hover {
    color: var(--NAV-FOOTER-TEXT-COLOR-HOVER);
    transition: 0.3s;
}

/* About Page Styles */

.about-page-container {
    width: 70dvw;
    margin: 5.5rem auto 1rem auto;
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--PAGE-PADDING);
    background-color: var(--PAGE-COLOR);
    line-height: 1.5;
    text-align: justify;
    border-radius: 10px;
    box-shadow: var(--SHADOW-BOX);
}

.about-page h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    border: 5px double black;
    width: 15%;
    min-width: 150px;
    height: auto;
    margin-bottom: 2rem;
}
/* contact form styles */
.contact-page-container {
    width: 50dvw;
    margin: 5.5rem auto 1rem auto;
}

.contact-page {
    display: flex;
    flex-direction: column;
    background-color: var(--PAGE-COLOR);
    padding: var(--PAGE-PADDING);
    border-radius: 10px;
    box-shadow: var(--SHADOW-BOX);
}

.contact-page h1 {
    margin-bottom: 1rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

input,
textarea,
select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
    display: flex;
}

input[type="text"],
input[type="email"] {
    min-width: 100%;
}

fieldset {
    border-radius: 5px;
    padding: 1rem;
    max-block-size: fit-content;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 5rem;
    line-break: auto;
    overflow: auto;
    overflow-wrap: break-word;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

button[type="reset"] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: hsl(108, 25%, 69%);
    transition: 0.3s;
    cursor: pointer;
}

button[type="reset"]:hover {
    background-color: hsl(0, 25%, 64%);
    transition: 0.3s;
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 767px) {
    .main-layout {
        border-radius: 10px;
        box-shadow: var(--SHADOW-BOX);
        font-size: var(--NORMAL-FS);
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .main-layout {
        flex-direction: column;

        align-items: center;
        max-width: 90dvw;
    }

    .navbar ul {
        margin-left: 1rem;
    }

    .sidebar {
        width: 90dvw;
        padding: P
        min-width: 300px;
        border-radius: var(--BORDER-TOP);
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content-container {
        padding: var(--MOBILE-PAGE-PADDING);
        border-radius: var(--BORDER-BOTTOM);
    }

    .html-logo img {
        width: 30%;
        height: auto;
    }

    .html-structure img {
        width: 100%;
    }

    details img {
        width: 15rem;
    }
    /* about page */

    .about-page-container {
        width: 90dvw;
    }

    .about-page {
        padding: var(--MOBILE-PAGE-PADDING);
    }

    .about-page h1 {
        font-size: 1.5rem;
    }

    .profile-picture {
        min-width: 100px;
    }

    /* contact page */

    .contact-page-container {
        width: 90dvw;
    }

    .contact-page {
        padding: var(--MOBILE-PAGE-PADDING);
    }

    .contact-page h1 {
        font-size: 1.7rem;
    }

    .contact-page h2 {
        font-size: 1.2rem;
    }

    form {
        gap: 0.7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
}  */
