@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --NORMAL-FS: clamp(1.4em, 2vh, 2.4em )
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #55356e;
    background-image: url(./img/nyangif.gif);
    background-size: 10% auto;
    background-repeat: repeat-y;
    font-family: "Noto Sans", sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #55356e;
    width: 100%;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 3rem;
    gap: 2rem;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    padding: auto;
    margin: auto;
}

.navbar a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

.navbar img {
    width: 92px;
    height: 36.45px;
}

main {
    flex-grow: 1;
}

/*article page styles*/

.main-layout {
    display: flex;
    flex-direction: row;
    max-width: 70dvw;
    margin: 5.5rem auto 1rem auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}


.sidebar {
    background-color: #434343;
    padding: 2rem 1rem 2rem 1.5rem;
    min-width: 13rem;
}

.sidebar li,
nav {
    white-space: nowrap;
    list-style: none;
    padding-bottom: 0.7rem;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.sidebar a:visited {
    color: #fff;
}

.sidebar a:hover {  
    color: #a5abbd;
    transition: 0.3s;
}

.content-container {
    white-space: nowrap;
    background-color: #e9e2f3;
    padding: 2rem 1rem 2rem 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-container p {
    font-size: var(--NORMAL-FS);
}

.title {
    margin-bottom: 1rem;
}

article {
    line-height: 1.5;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

table,
th,
td,
caption {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: left;
}

.table {
    margin: 1rem 0;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

.spoiler {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    user-select: none;
}
footer {
    text-align: center;
    background-color: #55356e;
    color: #ffffff;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

/* About Page Styles */

.about-page-container {
    width: 70dvw;
    margin: 5.5rem auto 1rem auto;
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem 2rem 3rem;
    background-color: #e9e2f3;
    line-height: 1.5;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.about-page h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    border: 5px double black;
    width: 15%;
    min-width: 150px;
    height: auto;
    margin-bottom: 2rem;
}
/* contact form styles */
.contact-page-container {
    width: 50dvw;
    margin: 5.5rem auto 1rem auto;
}

.contact-page {
    display: flex;
    flex-direction: column;
    background-color: #e9e2f3;
    padding: 3rem 3rem 2rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.contact-page h1 {
    margin-bottom: 1rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

input,
textarea,
select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
    display: flex;
}

input[type="text"],
input[type="email"] {
    min-width: 100%;
}

fieldset {
    border-radius: 5px;
    padding: 1rem;
    max-block-size: fit-content;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 5rem;
    line-break: auto;
    overflow: hidden;
    overflow-wrap: break-word;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

button[type="reset"] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: hsl(108, 25%, 69%);
    transition: 0.3s;
    cursor: pointer;
}

button[type="reset"]:hover {
    background-color: hsl(0, 25%, 64%);
    transition: 0.3s;
    cursor: pointer;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .main-layout {
        flex-direction: column;
        align-items: center;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
}  */
