@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #55356e;
    background-image: url(./img/nyangif.gif);
    background-size: 10% auto;
    background-repeat: repeat-y;
    font-family: "Noto Sans", sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #55356e;
    width: 100%;
    height: 70px;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 3rem;
    gap: 2rem;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    padding: auto;
    margin: auto;
}

.navbar a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

.navbar img {
    width: 92px;
    height: 36.45px;
}

main {
    flex-grow: 1;
}

.main-layout {
    display: flex;
    flex-direction: row;
    max-width: 90dvw;
    margin: 5.5rem auto 1rem auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.sidebar {
    background-color: #434343;
    padding: 2rem 1rem 2rem 1.5rem;
    min-width: 10rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar li,
nav {
    white-space: nowrap;
    list-style: none;
    padding-bottom: 0.7rem;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.sidebar a:visited {
    color: #fff;
}

.sidebar a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

.content-container {
    background-color: #e9e2f3;
    padding: 2rem 1rem 2rem 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer {
    text-align: center;
    background-color: #434343;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

/* About and Contact Page Styles */

.simple-page-container {
    max-width: 90dvw;
    margin: 5.5rem auto 1rem auto;
    background-color: #e9e2f3;
    padding: 2rem 1rem 2rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

button:hover {
    background-color: #a5abbd;
    transition: 0.3s;
    cursor: pointer;
}
/*
.navbar li {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

nav a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.5rem;
}

main {
    max-width: 50dvw;
    margin-top: 1rem;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 2rem;
    background-color: #f6f9ff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.article-container {
    background-color: #f6f9ff;
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 10px;
    max-width: 100vw;
}

.sidebar {
    min-width: 10rem;
    min-height: 100%;
    margin-top: 0;
    padding: 1rem;
    top: 5rem;
}

.sidebar nav {
    background-color: #0f4d8f;
    color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 0.5rem;
}

.sidebar h3 {
    margin-top: 0;
}

footer {
    bottom: 0;
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    background-color: #0f4d8f;
    background-image: linear-gradient(#1562b4, #000000);
    border-top: #000 1px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

footer a:hover {
    color: #a5abbd;
    transition: 0.3s;
}

table,
th,
td,
caption {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: left;
}

.centralized-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.table-centralized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.about-page-container {
    flex: 1;
    margin: auto;
}

.about-page {
    max-width: 60dvw;
    margin-top: 5rem;
    min-width: 50vw;
    padding: 2rem;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: justify;
}

.centratized-text {
    text-align: center;
}

input,
select,
textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: flex;
    min-width: 300px;
}

input[type="tel"],
input[type="number"] {
    display: flex;
}

fieldset {
    border-radius: 5px;
    margin-bottom: 5px;
    max-block-size: fit-content;
}

textarea {
    resize: none;
    line-break: auto;
    overflow-wrap: break-word;
    max-width: fit-content;
}



/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .layout {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .main {
        margin-top: 0;
        max-width: 100dvw;
        margin: auto;
    }

    .body {
        margin: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
}  */
